# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.iml

# Package folders
node_modules
# library package from bower.io
bower_components
# credentials
rdio_consumer_credentials


# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
.gitconfig
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea
build
bin
#dist

# Project files
music-app-rdio/my_modules/rdio_consumer_credentials.js

